<div class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-header bg-transparent border-success">Header</div>
    <div class="card-body text-success">
      <h5 class="card-title">Tarjeta con bordes</h5>
      <p class="card-text">Suele utilizarse para dar la impresion al usuario de que algo salio bien (Cuando los bordes son verdes), cuando algo esta mal (bordes rojos), cuando algo lo debe alertar (bordes amarillos) y otros. Adicional, contiene un footer y un header</p>
    </div>
    <div class="card-footer bg-transparent border-success">Footer</div>
  </div>