
    <div class="card text-center">
        <div class="card-header">
          Hecho por: 
        </div>
        <div class="card-body">
          <h5 class="card-title">Andres Felipe Quintero Rodas</h5>
          <p class="card-text">Desarrollo de aplicaciones Web - Especializacion en desarrollo de Software - Corporacion Universitaria Uniminuto</p>
          <p class="card-text">Este es el Footer</p>
        </div>
        <div class="card-footer text-body-secondary">
          {{ anio }}
        </div>
      </div>

