<div class="card" style="width: 18rem;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Bootstrap_logo.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mixed Card</h5>
      <p class="card-text">Aqui podemos ver una tarjeta mixta que se compone de:</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Imagen</li>
      <li class="list-group-item">Titulo</li>
      <li class="list-group-item">Descripcion</li>
      <li class="list-group-item">Lista de items</li>
      <li class="list-group-item">Links</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Me gusta</a>
      <a href="#" class="card-link">Compartir</a>
    </div>
  </div>