<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="#">Link 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Link Desactivado</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Tarjeta con Navegacion especial</h5>
      <p class="card-text">Con esta tarjeta, se puede hacer una navegacion especial, de forma que muestre informacion relevante en un solo lugar.</p>
      <a href="#" class="btn btn-primary">Ir a alguna parte</a>
    </div>
  </div>