<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Esta tarjeta es ideal para mostrar listas de items que esten relacionados entre si. Adicional, tiene un Footer en el cual se puede agregar informacion, links u otro elemento.</li>
      <li class="list-group-item">Primer Item</li>
      <li class="list-group-item">Segundo Item</li>
      <li class="list-group-item">Tercer Item</li>
    </ul>
    <div class="card-footer">
      Este es el footer de esta lista.
    </div>
  </div>